div{
display:block;
}
#header {
background-color:#aaafaf;
text-align:center;
}
#nav {
background-color:#ffbaab;
position:fixed;
left:0;
width:300px;
}

#main {
    position: relative;
    right: 0;
    width:700px;
}

#footer {
background-color:#dfdfdf;
text-align:center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
body{
background-color:#00AAFA;
font-family:Arial, Helvetica, Courier;
}
h1{
background-color:#AAAAAA;
}
p{
background-color:#FFFFFF;
}
a{
text-decoration:none;
}
