<!DOCTYPE html>
<html>
<head>
<title>{{name}}</title>
<link rel="stylesheet" type="text/css" href="../static/style.css">
</link>
</head>
<body>
<div id = 'container'>
<div id = "header">{{title}} <!--header-->
</div>
<div id="nav"> <!--navigation bar-->
<a href= "/">Home</a></br>
<a href= "/markov">Markov Chain Generator</a></br>
<a href= "/sengen">Sentence Generator</a></br>
<a href= "/rot_13">Caesar Cipher Encoder/ Decoder</a></br>
</div>
<div id="main"><!--main-->
{{stuff}}
</div>
</div>
<div id="footer"><!--footer-->
 &copy: Copyright Matthael
</div>
</body>
</html>
